

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-work-sons-fornt{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
  display: flex
}
/* dark-2 */
.text-gray{
  color: #424242;
}
/* dark-3 */
.text-light-gray{
  color: #727272;
}
.text-paymari{
  color: #FF900E;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  background-color: #FF900E;
  color: #ffffff;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
main{
  max-width: 1440px;
  margin: 0 auto;

}
main>section{
  margin-top: 130px ;
}
.section-title{
  font-size:2.8rem ;
  font-weight: 700;
  
 }

/* header style */


/* navber relted style */
.nav-item{
  list-style: none;
  margin-right: 30px;

  
}
.navber{
  justify-content: space-between;
  align-items: center;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.navber{
  max-width: 1440px;
  margin: 0 auto;
 
}
.brand{
  font-size: 3rem;
  font-weight: bold;
  color: #131313;
}
 /* banner related styl  */
 .banner-info{
  max-width: 861px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;
 }
 .banner-h{
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
 }
 .banner-image{
  width: 90%;
  margin: 0 auto;
 }
 
 
 .team-img-contayner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
 }
 .our-features{
   margin-left:  73px;
   max-width: 530px;
   margin-top: 232px;

 }
 /* features section related style */
 #features-section-title{
  border-left: 5px solid #FF900E;
  padding-left: 21px;
 }
 /* fact related contant */
 .fack-contayner{
  display: grid;
  grid-template-columns: repeat(4,1fr);
 }
 .fact-card{
  border: 2px solid #FF900E;
  width: 241.83px;
  height: 241.83px;
  border-radius: 8px ;
  text-align: center;
 align-items: center;
 justify-content: center;
  
 }
 .fact-num{
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 5px;
 }
 .facr-name{
  font-size: 1.25rem;
  font-weight: 600;
  
  margin-top: 10px;
 }
 .fact-deccipyion{
  max-width: 540px;
 }
 .Sponspors-info{
  max-width: 542px;
  margin: 59px auto;
  text-align: center;
 }
 .sponsor-comanies{
  display: grid;
  grid-template-columns: repeat(5 ,
  1fr);
 }
  .sponsor-comanies img{
    filter: grayscale(100%);
  }
  /* feature section style */
  .features-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06) ;
    margin-bottom: 20px;
    border-radius: 8px;

  }
  .features-title{
    font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
  
  }

  .features{
    gap: 140px;
  }
 @media screen and (max-width:768px) {
 .navber, .nav-link ,.team {
  flex-direction: column;
 }  
 .team-img-contayner,.fack-contayner ,.sponsor-comanies{
  grid-template-columns: repeat(1,1fr);
  margin: 0 auto;

 }
 
 .banner-image img{
  width: 100%;
 }
 .fack-contayner ,.sponsor-comanies {
  justify-items: center;
  gap: 24px;
 }

 .our-features{
margin-left: 120px;
 }
 }